<h4>4. Use calculations</h4>

<div *ngIf="calculations">
    <p>In OPM-REST, making a POST request on a calculation URI will perform the calculation and assign the result to
        all features of interest that match the argument path in the case that they do not have an inferred result already.
        Making a PUT request on the calculation URI will look for places where a calculation result has been defined before
        but where one or more of the arguments of the calculation has changed (ie. there exists a more recent property state
        than the one the current result was derived from).
    </p>
    <button mat-stroked-button (click)="postAll()">POST all</button>
    <button mat-stroked-button (click)="putAll()">PUT all</button>
</div>
<div>
    <p *ngIf="!calculations">No calculations to show. Did you fulfill step 3?</p>
    <button mat-stroked-button (click)="updateAll()">Update list and build tree</button>
</div>

<div *ngIf="calculations">

    <mat-accordion>

        <mat-expansion-panel *ngFor="let item of calculations">
            <mat-expansion-panel-header *ngIf="item.label">
            <mat-panel-title>
                <span *ngIf="item.depth || item.depth === 0" style="width: 2vw">{{item.depth}}</span>
                <span [class.upload-ok]="item.writeStatus == 'success'" [class.upload-fail]="item.writeStatus && item.writeStatus != 'success'">{{item.label['@value']}}</span>
            </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
                <tr>
                    <td>prov:generatedAtTime</td>
                    <td>{{item.generatedAtTime}}</td>
                </tr>
                <tr>
                    <td>rdfs:comment</td>
                    <td>{{item.comment}}</td>
                </tr>
                <tr>
                    <td>opm:expression</td>
                    <td>{{item.expression}}</td>
                </tr>
                <tr>
                    <td>opm:inferredProperty</td>
                    <td>{{item.inferredProperty}}</td>
                </tr>
            </table>

            <mat-slide-toggle
                style="padding-top: 10px"
                [(ngModel)]="materialize"
                matTooltip="Clicking the materialize button will write the triples to the store"
                >Materialize
            </mat-slide-toggle>
            <br/>
            <button mat-stroked-button (click)="postSingle(item)">POST</button> POST {{item['@id']}}
            <br/>
            <button mat-stroked-button (click)="putSingle(item)">PUT</button>  PUT {{item['@id']}}
            <p *ngIf="item.writeStatus == 'success'" class="upload-ok">Successfully wrote triples to store</p>
            <p *ngIf="item.writeStatus != 'success'" class="upload-fail">{{item.writeStatus | json}}</p>

            <br/>

            <codemirror *ngIf="item.result" [(ngModel)]="item.result" [config]="cmConfigJSON" class="full-width"></codemirror>
            
            <button 
                matTooltip="Get the results that were inferred by this calculation" 
                mat-stroked-button (click)="getCalculationResults(item)">
                Get inferred results
            </button>

            <codemirror *ngIf="item.getInferredResults" value="{{item.getInferredResults | json}}" [config]="cmConfigJSON" class="full-width"></codemirror>

            <p>WIP! Get subscribers</p>
    
            <!-- <codemirror value="{{item.def | json}}" [config]="cmConfigJSON" class="full-width"></codemirror>
            <button mat-stroked-button (click)="buildQuery(item)">Build query with OPM-QG</button> -->
    
            <!-- <div *ngIf="item.query">
                <p>The below query was generated using <a href="https://www.npmjs.com/package/opm-qg">OPM-QG</a> postCalcData() method.</p>
                <codemirror [value]="item.query" [config]="cmConfigSPARQL" class="full-width"></codemirror>
                <button mat-stroked-button (click)="runQuery(item)">Run query</button>
                <mat-slide-toggle
                    style="padding-left: 10px"
                    [(ngModel)]="materializeCalculation"
                    matTooltip="Clicking the materialize button will write the triples to the store by an INSERT query"
                    >Materialize
                </mat-slide-toggle>
                <p *ngIf="materializeCalculation">POST {{backend}}/{{db}}/calculations</p>
            </div>
    
            <div *ngIf="item.qRes">
                <codemirror [value]="item.qRes" [config]="cmConfigTTL" class="full-width"></codemirror>
                <p *ngIf="item.writeStatus == 'success'" class="upload-ok">Successfully wrote triples to store</p>
                <p *ngIf="item.writeStatus != 'success'" class="upload-fail">{{item.writeStatus | json}}</p>
            </div> -->
    
        </mat-expansion-panel>

    </mat-accordion>

    <p>Exercise: change some of the dependencies of the calculations (eg. the ambient temperature of the heated room class) 
        and check for outdated calculations.</p>

    <button mat-stroked-button (click)="getOutdated()">List outdated</button> GET {{backend}}/{{db}}/ice/calculations/outdated
    <div *ngIf="outdated">
        <codemirror [(ngModel)]="outdated" [config]="cmConfigJSON" class="full-width"></codemirror>
    </div>

    <!-- Properties of thermal environments -->
    <mat-accordion *ngIf="thermalEnvProps">

        <mat-expansion-panel *ngFor="let item of thermalEnvProps">
            <mat-expansion-panel-header>
            <mat-panel-title>
                <span>{{item['@id']}}</span>
            </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let key of item.propertyKeys">
                <opm-input-form-field
                    [placeholder]="key"
                    [propertyURI]="item[key]">
                </opm-input-form-field>
            </div>

        </mat-expansion-panel>

    </mat-accordion>

</div>