.full-width{
    width: 100%
}
.canvas-card{
    margin: 1vw 10vw 1vw 10vw;
    padding: 30px;
}
.code{
    background-color: lightgray;
    font-family: consolas;
}
.upload-ok{
    color: green;
    font-weight: 500;
}
.upload-fail{
    color: red;
    font-weight: 500;
}
p{
    font-size: 1em;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
}