<mat-card class="canvas-card">

  <span>
      <img class="logo" style="width:50px;" src="./assets/niras-logo.svg">
      <img class="logo" style="padding-left: 10px; width:20px;" src="./assets/DTU-logo.svg">
  </span>

  <h2>OPM for calculations</h2>
  <span style="font-style: oblique">- the Ontology for property management</span>

  <p style="font-size: 0.8em"><i>NB! This app is currently in development and there might therefore be bugs.</i></p>

  <p>The purpose of this simple app is to demonstrate how to make operations 
    on an Architecture, Engineering and Construction (AEC) Knowledge Graph (KG)
    with OPM-REST. Created by 
    <a href="https://www.researchgate.net/profile/Mads_Holten_Rasmussen" target="blank">Mads 
      Holten Rasmussen</a>.
  </p>

  <p>A journal paper that was submitted to Automation in Construction describes the purpose of <a href="https://w3id.org/opm#">OPM</a> in depth.</p>

  <!-- Setup -->
  <div style="padding-bottom: 10px">
    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Setup</mat-panel-title>
        </mat-expansion-panel-header>

        <p>The app communicates with an <a href="https://github.com/MadsHolten/OPM-REST">OPM-REST API</a> which is designed to operate on an AEC-KG stored in a triplestore. 
          It has been tested with the open source <a href="https://jena.apache.org/documentation/fuseki2/">Jena Fuseki</a> 
          triplestore but should work with all triplestores that support the <a href="https://www.w3.org/TR/sparql11-protocol/">
          SPARQL 1.1 Protocol</a>.</p>
        
        <h4>Setup</h4>

        <p>Requires <a href="https://www.docker.com/products/docker-desktop">Docker Desktop</a></p>

        <ul>
          <li>Clone git repository <span class="code">$ git clone https://github.com/MadsHolten/OPM-REST.git</span></li>
          <li>Enter the cloned repository <span class="code">$ cd OPM-REST</span></li>
          <li>Run command run command <span class="code">$ docker-compose build</span></li>
          <li>Run command run command <span class="code">$ docker-compose up</span></li>
          <li>Go to <a href="http://localhost:3030/">http://localhost:3030/</a> and check that a local Fuseki is running (Default user/pass = <i>admin/admin</i>)</li>
          <li>Create a new dataset (<i>manage datasets -> add new dataset</i>) and use the same dataset name below</li>
        </ul>

        <p>Extraction of triples from Revit to the <a href="https://github.com/MadsHolten/OPM-REST">OPM-REST API</a> can be accomplished
        with the Dynamo scripts in <a href="https://github.com/MadsHolten/OPM-REST/tree/master/tools/dynamo-scripts">this folder</a></p>

        <mat-form-field class="full-width">
          <input matInput placeholder="OPM-REST endpoint" [ngModel]="backend">
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <input (keyup)="updateFusekiSettings()" matInput placeholder="Fuseki dataset name" [ngModel]="fusekiSettings.db">
        </mat-form-field>

        <!-- Username and password is currently not used -->
        <!-- <mat-form-field class="full-width">
          <input (keyup)="updateFusekiSettings()" matInput placeholder="Fuseki username" [ngModel]="fusekiSettings.user">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input (keyup)="updateFusekiSettings()" matInput placeholder="Fuseki password" [ngModel]="fusekiSettings.pass">
        </mat-form-field> -->

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  <mat-divider></mat-divider>

  <!-- Stepper -->
  <mat-horizontal-stepper [linear]="true" #stepper>

    <!-- Add some data -->
    <mat-step>

      <ng-template matStepLabel>Load some data</ng-template>
      <app-step1 [backend]="backend" [db]="db"></app-step1>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Create dummy interfaces</ng-template>
      <app-step2 [backend]="backend" [db]="db"></app-step2>

    </mat-step>

    <!-- Perform calculations -->
    <mat-step>
      <ng-template matStepLabel>Create calculations</ng-template>
      <app-step3 [backend]="backend" [db]="db"></app-step3>

    </mat-step>

    <!-- Simulate changes -->
    <mat-step>
      <ng-template matStepLabel>Use calculations</ng-template>
      <app-step4 [backend]="backend" [db]="db"></app-step4>

    </mat-step>


  </mat-horizontal-stepper>

</mat-card>